// .navbar{
//   background-color: rgb(1, 20, 129);
// }

.navbar-brand{
  color: white;
}

.jumbotron2{
  margin-top: 100px;
}


.navbar {
  background-color: #4557ff;
  border: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #e6e6e6;
  padding: 0;
  height: 60px;
}
